.map {
  background-color: #faf9f9;
}
.map iframe {
  display: block;
  max-width: 700px;
  margin: 1em auto;
  height: 400px;
  border: 2px solid #f1f0f0;
  width: 90%;
}
.map p {
  max-width: 700px;
  /*font-size: ;*/
  text-align: center;
  margin: .3em auto;
  width: 90%;
}
