.participator {
  background-color: #f1f0f0;
  color: #3d3d3d;
}
.participator-content {
  max-width: 700px;
  margin: 1em auto;
  width: 90%;
}
.participator p {
  text-align: center;
  margin: 0 auto;
  padding: 22px 0;
  /*border-top: 1px solid #d0d0d0;*/
}
