.participator {
  background-color: #faf9f9;
  color: #3d3d3d;
}
.participator-content {
  max-width: 700px;
  margin: 1em auto;
  width: 90%;
}
.sub-participator {
  justify-content: center;
  width: 45%;
}
.sub-participator:first-child {
  float: left;
}
.sub-participator:last-child {
  float: right;
}
.sub-participator p {
  margin: 0;
  padding: 42px 0;
  border-top: 1px solid #d0d0d0;
}
.sub-image-wrap {
  display: block;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 3em;
  width: 80%;
}
.sub-participator img {
  display: inline-block;
}
