.prize {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.prize-left {
  position: absolute;
  bottom: 2em;
  padding: 1em;
  /*background-color: rgba(0, 0, 0, .85);*/
  width: 100%;
  height: auto;
  /*transform-origin: 100% 2000px;*/
  /*transform: translate(-100%, 0) rotate(-90deg);*/
  /*transform: translate(-50%, 0);*/
}
.prize-left .single-prize {
  /*transform: translate(-100%, 0) rotate(60deg);*/
  height: 5em;
  /*transform-origin: 4em 0;*/
  /*transform: translate(105%, 1600px) rotate(90deg);*/
}
@media screen and (min-width: 740px) {
  .prize-left {
    padding: 0;
    height: 2000px;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
    transform-origin: 100% 2000px;
    transform: translate(-60%, 0) rotate(-25deg);
  }
  .prize-left .single-prize {
    /*transform: translate(-100%, 0) rotate(60deg);*/
    height: 5em;
    transform-origin: 4em 0;
    transform: translate(105%, 1600px) rotate(25deg);
  }
}
.prize-slider-box {
  background-color: #32cdff;
  position: absolute;
  right: 0;
  bottom: 100px;
  animation: top-bottom 5s infinite;
  animation-timing-function: ease-in-out;
  width: 10px;
  height: 200px;
}
@keyframes top-bottom {
  0% {
    bottom: 100px;
  }
  20% {
    bottom: 50px;
  }
  48% {
    bottom: 400px;
  }
  70% {
    bottom: 250px;
  }
  80% {
    bottom: 170px;
  }
  20% {
    bottom: 100px;
  }
}
.prize-name {
  font-weight: bold;
}
.prize-name, .prize-content {
  display: inline-block;
  margin: 0;
  font-size: 1.4em;
}
.prize-content {
  padding-left: 1em;
}
/*.prize-left {*/
/*}*/
