.prize {
  background-image: url('/prize-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  padding-top: 0;
  position: relative;
}
.prize-left {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 2000px;
  transform-origin: 100% 2000px;
  transform: translate(-60%, 0) rotate(-30deg);
  /*transform: translate(-50%, 0);*/
}
.prize-left .single-prize {
  /*transform: translate(-100%, 0) rotate(60deg);*/
  height: 4em;
  transform-origin: 4em 0;
  transform: translate(105%, 1500px) rotate(30deg);
}
.prize-slider-box {
  background-color: #32cdff;
  position: absolute;
  right: 0;
  bottom: 200px;
  width: 10px;
  height: 200px;
}
/*.prize-left {*/
/*}*/
