.talk-intro {
  padding-top: 100px;
  background-color: #faf9f9;
}
.talk-wrap-mid {
  position: relative;
  background-color: #3d3d3d;
  border: 2px solid #3d3d3d;
  color: #faf9f9;
  padding-top: 1em;
  padding-bottom: .5em;
  max-width: 800px;
  margin: 0 auto;
  z-index: 3;
  width: 70%;
}
/*.talk-intro h2, .talk-intro p, .talk-intro a {*/
  /*z-index: 5;*/
/*}*/
.talk-intro a {
  background-color: #3d3d3d;
  border-radius: 4px;
  border: 1px solid #faf9f9;
  color: #faf9f9;
  text-align: center;
  display: block;
  font-size: 1.2em;
  margin: 2em auto;
  line-height: 2em;
  width: 8em;
  text-decoration: none;
  transition: all .1s;
}
.talk-intro a:hover {
  color: #3d3d3d;
  background-color: #faf9f9;
}
.talk-wrap-in {
  pointer-events: none;
  position: absolute;
  left: -32px;
  top: -32px;
  width: 100%;
  height: 100%;
  border: 2px solid #3d3d3d;
  z-index: 2;
}
.talk-wrap-out {
  pointer-events: none;
  position: absolute;
  left: -16px;
  top: -16px;
  width: 100%;
  height: 100%;
  border: 2px solid #3d3d3d;
  z-index: 1;
}
