.nav {
  z-index: 6;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  transition: all .2s;
}
.logo {
  display: inline-block;
  float: left;
}
.with-bgc {
  background-color: rgba(0, 0, 0, .5);
}
.links, .nav-close {
  float: right;
}
.link-wrap {
  overflow: hidden;
  transition: all .2s;
  display: inline-block;
  padding-bottom: .3em;
  margin: .5em 0;
}
.link-active a {
  border-bottom: 2px solid white;
}
.link-inactive a {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.link-wrap a {
  transition: all .2s;
  text-decoration: none;
  margin: .8em;
  padding: .2em .5em;
  line-height: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
}
.nav.without-bgc {
}

.nav .logo {
  width: 60px;
}
.nav-hidden .link {
  height: 0;
}
.nav-hidden {
  background-color: rgba(0, 0, 0, 0);
}
.nav-close img {
  height: 40px;
}
